.header {
  // background-color: rgb(187, 20, 137);
  position: absolute;
  width: 100%;
  // left: 50%;
  // transform: translateX(-50%);
  padding-top: 40px;
  padding-bottom: 40px;
  // position: relative;
  @media screen and (max-width: 479px) {
    width: 100%;
    // background-color: rgb(63, 4, 39);
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-logo-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: bisque;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
.logo {
  @media screen and (max-width: 767px) {
    fill: #ffffff;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 64px;
  }
}
.button-navigation {
  position: relative;
  z-index: 10;
  background-color: transparent;
  border: none;
  margin: 0px;
  fill: #ffffff;
  //   padding-top: 48px;

  .icon-cross {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.button-navigation.is-open .icon-cross {
  display: block;
  fill: black;
}
.button-navigation.is-open .icon-menu {
  display: none;
}
.backdrop-menu {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ffffff;
    height: 796px;
    width: 337px;
    padding-top: 118px;
    padding-left: 40px;
    padding-right: 100px;
    // transform: translateY(-100%);
    // transition: transform 1000ms linear;
  }

  &.is-open {
    display: block;
    // transform: translateY(0);
  }
}
.navigation-list {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 20px;
    margin-right: 47px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 322px;
  }
}
.navigation-list-item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  color: #303030;
  letter-spacing: 0.1em;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
    color: #ffffff;
  }
}
.navigation-list-item {
  margin: 0px;
  &:not(:last-child) {
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      margin-right: 24px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 40px;
    }
  }
}

.address-header {
  margin-top: 64px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.header-lists-items:not(:last-child) {
  margin-bottom: 24px;
}
.header-lists {
  text-align: end;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.address-header-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  color: #303030;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-style: normal;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.3;
    color: #ffffff;
  }
}

.button-header {
  margin-bottom: 64px;
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 40px;
  }
}

.button-header {
  @media screen and (max-width: 767px) {
    color: #303030;
    padding: 12px 20px;
    margin-bottom: 64px;
    margin-top: 24px;
    padding: 12px 37px;
  }
  // border: 1px solid #ff6c00;
  // box-sizing: border-box;
  // border-radius: 25px;
  // padding: 12px 37px;
  // font-weight: 600;
  // font-size: 12px;
  // line-height: 1.33;
  // letter-spacing: 0.09em;
  // text-transform: uppercase;
  // background-color: transparent;
  // margin-bottom: 64px;
  // margin-top: 24px;
  // color: #303030;
  // transition: background-color 250ms linear;
  // &:hover,
  // &:focus {
  //   background-color: #ff6c00;
  // }
  @media screen and (min-width: 768px) {
    color: #ffffff;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 40px;
  }
}
.header-lists-items-link {
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
.header-lists-items:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::before {
    content: ' ';
    width: 60px;
    height: 1px;
    display: block;
    background: #303030;
  }
}
.address-header-button {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
  }
}
