.buttons {
  border: 1px solid #ff6c00;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: #303030;
  &:hover,
  &:focus {
    background-color: #ff6c00;
  }
  transition: background-color 250ms linear;
}
